<div class="profile-container">
  <div class="profile-panel">
      <h2>Потребителски профил</h2>
      <br>
      <p><strong>Име:</strong> {{user?.username}}</p>
      <p><strong>Имейл:</strong> {{user?.email}}</p>
      <br>
      <button class="logout-btn" (click)="authService.logout()">Изход</button>

      <div class="tests-section">
        <h3>Тестове и резултати</h3>
        @if(isLoading){
          <div class="loader-container">
            <div class="spinner"></div>
            <p>Зареждане на тестове...</p>
          </div>
        } @else{
        <ul>
          @for(test of tests; track test){
          <li>
            <strong>{{ test }}:</strong> {{ scores[test] }} / 100
          </li>
        }
        </ul>
      }
      </div>
  </div>
</div>