<br />
<div id="profile-style">
  <section
    style="height: 20%; margin: 0; padding: 0; align-items: baseline"
    class="centered-flex"
  >
    <h1 style="color: whitesmoke; font-size: 65px">Твоят профил</h1>
  </section>
  <hr style="width: 40%" />
  <img src="" id="profile-picture" />
  <h1 style="overflow: hidden; color: whitesmoke">
    Име: {{user?.username}}
  </h1>
  <h1 style="overflow: hidden; color: whitesmoke">
    Имейл: {{user?.email}}
  </h1>
  <h1 style="overflow: hidden; color: whitesmoke">
    Дата на присъединяване: &lt;дата&gt;
  </h1>
  <hr />
  <h5 style="color: whitesmoke; font-size: 19px">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Искате да излезете или да влезете в друг
    акаунт? <a >Излезте</a>
  </h5>
</div>