<div class="form-container">
  <h2>Влизане</h2>
  <div class="form-panel">
    <form [formGroup]="form" (ngSubmit)="login()">
      <label for="email">Имейл:</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        formControlName="email"
      />
      @if(form.get('email')?.touched){
      <app-email-error [email]="form.get('email')"></app-email-error>
      }

      <label for="password">Парола:</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        formControlName="password"
      />
      @if(form.get('password')?.touched){
      <app-password-error
        [password]="form.get('password')"
      ></app-password-error>
      }

      <button type="submit" [disabled]="!form.valid">Влез</button>
    </form>
    <p>
      Нямаш профил?
      <a routerLink="/register" class="switch-link">Регистрирай се</a>
    </p>
  </div>
</div>
