avg path {
	fill: #00394f;
	stroke: #eee;
	stroke-width: .25;
}
svg path {
	fill: darkgreen;
}
svg path:hover {
	fill: lightgreen;
	transition: 0.6s;
	cursor: pointer;
}
svg {
	transform: scale(1.6);
}