.info-panel {
    width: 30%;
    background-color: grey;
    padding: 20px;
    border-radius: 10px;
    color: white;
    height: 500px;
    margin-bottom: 150px;
    overflow-y: auto;
}

.formatted-text {
    white-space: pre-line;
    word-wrap: break-word;
  }
  
  .poopover-content {
    position: fixed;
    top: 100px;
    right: 20px;
    padding: 8px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    white-space: nowrap;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
}

.poopover-content img {
    max-width: 300px;
    border-radius: 4px;
    margin-bottom: 10px;
}

  
  .btn {
    margin: 20px;
  }

  .iframe-container {
    width: 60%; /* Or any fixed width */
    height: 0;
    padding-bottom: 40%; /* 16:9 aspect ratio */
    position: relative;
  }
  
  .scaled-iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    margin-top: -90px;
  }
  
  .back-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 90px; /* Adjust to position above the iframe */
    left: 360px; /* Adjust for horizontal placement */
    z-index: 10; /* Ensure it appears above the iframe */
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }
