.info-panel {
    width: 30%;
    background-color: grey;
    padding: 20px;
    border-radius: 10px;
    color: white;
    height: 500px;
    margin-bottom: 150px;
    overflow-y: auto;
}

.formatted-text {
    white-space: pre-line;
    word-wrap: break-word;
  }