.info-panel {
    width: 30%;
    background-color: grey;
    padding: 20px;
    border-radius: 10px;
    color: white;
    height: 500px;
    margin-bottom: 150px;
    overflow-y: auto;
}

.formatted-text {
    white-space: pre-line;
    word-wrap: break-word;
  }

  .popover-container {
    position: relative;
    display: inline-block;
  }
  
  .popover-content {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-20%);
    padding: 8px 12px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    white-space: nowrap;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
}

  
  .popover-content img {
    max-width: 200px;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  
  .btn {
    margin: 20px;
  }

  .iframe-container {
    width: 60%; /* Or any fixed width */
    height: 0;
    padding-bottom: 40%; /* 16:9 aspect ratio */
    position: relative;
  }

  .scaled-iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    margin-top: -90px;
  }