<main>
  <div class="iframe-container">
    <iframe class="scaled-iframe" [attr.src]="safeRegionInfoUrl" style="height: 100%; width: 100%; border: none"></iframe>
  </div>

  @if(showPopover){
  <div 
    class="popover-content" 
  >
    <img [src]="imageSrc" alt="Popover Image" />
    <p>{{ region }}</p>
  </div>
  }
  <div class="centered-flex" style="height: 400pt; width: 450pt"     (mouseenter)="onMouseEnter()" 
  (mouseleave)="onMouseLeave()">
      <iframe
      class="region-map"
      [attr.src]="safeRegionMapUrl"
      style="height: 100%; width: 100%; border: none"
    ></iframe>
  </div>
</main>
