<div class="form-container">
  <h2>Регистриране</h2>
  <div class="form-panel">
    <form [formGroup]="form" (ngSubmit)="register()">
      <label for="first-name">Име:</label>
      <input
        type="text"
        id="first-name"
        name="first-name"
        required
        formControlName="username"
      />

      <label for="email">Имейл:</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        formControlName="email"
      />
      @if(form.get('email')?.touched){
        <app-email-error [email]="form.get('email')" />
        }

      <ng-container formGroupName="passGroup">
        <label for="password">Парола:</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          formControlName="password"
        />
        @if(form.get('passGroup')?.get('password')?.touched){
          <app-password-error
            [password]="form.get('passGroup')?.get('password')"
          />
          }

        <label for="password">Повтори парола:</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          formControlName="rePass"
        />
        @if(form.get('passGroup')?.get('rePass')?.touched){
          <ng-container>
            @if(form.get('passGroup')?.get('rePass')?.errors?.['required']){
            <p class="error">Потвърди парола е задължителна!</p>
            }
            @if(form.get('passGroup')?.get('rePass')?.errors?.['passwordMatchValidator']){
            <p class="error">Двете пароли не са еднакви!</p>
            }
          </ng-container>
          }
      </ng-container>

      <button type="submit" [disabled]="!form.valid">Регистрирай се</button>
    </form>
    <br />
    <p>Вече имаш профил? <a routerLink="/login" class="switch-link">Влез в профила си!</a></p>
  </div>
</div>
