
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin-top: 50px;
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

.form-panel {
    background-color: black;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    color: white;
    width: 400px;
    margin-top: 20px;
}

.form-panel label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

.form-panel input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.form-panel button {
    background-color: green;
    color: white;
    padding: 12px 18px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}