

    <main id="guest-home">
        
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="text-panel">
        <div class="slideshow">
            
        </div>
        <div class="text-content">
            <h1>Добре дошли в ГеоБългария!</h1>
            <p>Открийте интерактивна карта и полезна информация за различни географски точки в България.</p>
        </div>
        <div class="buttons">
            <a href="register.html" class="btn">Регистрирай се</a>
            <a href="login.html" class="btn">Влез</a>
        </div>
    </div>
    </main>